*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.enlaces{
    text-decoration: none;
    color: black;
}

.tituloPagina{
    margin: 10px;
    font-size: 12px;
}

.tituloPagina:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.favoritosImagen{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: rgba(223, 219, 219, 0.8);
    padding: 2px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .3s;
}

.favoritosImagen:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.guardadoImagen{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform .3s;
}

.guardadoImagen:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.imagenApi{
    margin: 5px;
    padding: 5px;
    width: 500px;
    height: 500px;
}

#contenedor{
    margin: 50px;
}

.descripcionApi{
    margin: 5px;
    padding: 5px;
}

footer{
    background-color: #2C3B4D;
    width: 100%;
}

footer p{
    margin: 10px;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.contenido{
    align-items: center;
    position: relative;
    display: inline-block;
}

.contenedorImagen{
    display: flex;
    justify-content: center;
}
